.App {
  text-align: center;
}

.NavBar{
  border: solid black 2px;
  width: 80%;
  background: gray; 
  display: flex;
  list-style: none;
  margin: auto;
  justify-content: space-between;
  flex-direction: column;
}

.NavBar ul{
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.NavBar li{
  padding: 2px 10px 2px 10px;
  border: black solid;
  list-style: none;
  margin: auto;
  letter-spacing: 2px;
}

.NavBar li:hover{
  cursor: pointer;
}

.TierContainer{
  width: 80%;
  margin: auto;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
}

.TierItem{
  display: flex;
  border-bottom: solid black 2px;
}

.TierItem h1{
  margin: 10px;
  padding: 5px 25px 5px 25px;
  border: solid black 2px;
}