.tierContainer{
    display: flex;
    width: 80vw;
    border-bottom: solid 1px #004A7C;
    flex-direction: row;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;


}
.tierTitle{
    font-family: 'Rokkitt', serif;
    text-decoration: none;
    color: #004a7c;
    min-width: 90px;
    margin: 0px;
    background: #E8F1F5;
    padding: 10px;
    border-right: solid 1px #004A7C;
}
.tiers{
    padding-left:10px;
    margin: auto;
    display: flex;
    background: #fafafa; 
    list-style: none;
    text-decoration: none;
    flex-wrap: wrap;
    justify-content: left;
}

a{
    display: flex;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    color: #004a7c;
    list-style: none;
    color: #004A7C;
}
.tierItem{
    opacity: .8;
    padding: 2px 5px 2px 5px;
}
.tierItem:hover{
    opacity: 1;
    cursor: pointer;
}

li{
    padding: 0px;
}
